// #1A1720
@import "./index.scss";
@import "./components/components_dir.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #282330;
}

.iw_header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    background: #1f2833;
    height: 30px;
    display: flex;
    justify-content: space-evenly;

    a {
        text-decoration: none;
        color: #f9f9f9;
        font-size: 20px;
    }
}
