// #1A1720
@import "./index.scss";
@import "./components/components_dir.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #282330;
}
